body{
    background-color: #C4C7B8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-style: italic;
}

/* titulo principal para pantallas moviles y tabletas */
h1 {
    text-align: center;
    text-align: center;
    font-size: 45px;
    color: orangered;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: 1.5px;
    font-style: italic;
}

/* titulo principal para computadoras */
@media (min-width: 1268px) {
    h1 {
        text-align: center;
        text-align: center;
        font-size: 90px;
        color: orangered;
        -webkit-text-stroke-color: whitesmoke;
        -webkit-text-stroke-width: 3px;
        font-style: italic;
    }
}

/* titulos secundarios para cada seccion */
h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: 0.5px;
    color: orangered;
}


header nav{
    display: flex;
    justify-content: space-between;
    margin-inline: 50px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 24px;
    gap: 30px;
}

header nav ul li{
    display: flex;
    text-wrap: nowrap;
    font-family:fantasy;
    font-variant: small-caps;
    font-size: 150%;
}

#main-slogan {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.main-text div {
    padding: 25px;
}

@media (min-width: 1024px) {
    .main-text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .main-text div {
        padding: 25px;
        width: 33%;
    }
}

.objetivo-titulo {
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}

.objetivo-texto {
    text-align: left;
}

.center-text {
    text-align: center;
}

footer {
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    margin-top: 50px;
}

a {
    color: blue;
}

a:visited {
    color: orangered;
}

.custombotton {
    border-color: orangered;
    border-width: 2px;
}

.nav-link:hover{
    color:darkblue;
    border: 1px solid darkblue;
}
