@import "../utilidades/mixin";
@import "../utilidades/variables";  

/* estilos imagen pagina principal*/
.carousel-inner {
    @include flex(Start);
    margin-left: 5px;
    max-width: 98%;
    max-height: 1000px;
}

/* estilos texto principal en pantallas chicas y tabletas*/
.main-text {
    @include flex (space-around);
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    div {
        padding: 25px;
    }
}

/* estilos seccion main text*/
.objetivo-titulo {
    font-size:  16px;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
}
.objetivo-texto {
    text-align: left;
}
.center-text {
    text-align: center;
}